/* ************* */
/* common */
/* ************* */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ************* */
/* header */
/* ************* */
header {
    background-color: rgb(254, 151, 151);
    padding: 10px 0;
}
header nav a {
    margin-right: 15px;
}
header nav a:last-child {
    margin-right: 0;
}


/* ************* */
/* banner */
/* ************* */

/* ************* */
/* instagram */
/* ************* */

/* ************* */
/* footer */
/* ************* */
footer {
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 30px 0;
    font-size: 16px;
}
footer p {
    margin: 0;
}
footer p a {
    color: white;
}


/* ************************************* */
/* mobile screen */
/* ************************************* */

@media (max-width: 760px) {
    /* ************* */
    /* common */
    /* ************* */
    .wrapper {
        flex-direction: column;
    }
    
    /* ************* */
    /* header */
    /* ************* */

    /* ************* */
    /* banner */
    /* ************* */

    /* ************* */
    /* instagram */
    /* ************* */

    /* ************* */
    /* footer */
    /* ************* */
    footer p:first-child {
        margin-bottom: 20px;
    }
}